@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: bold;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
/* =============================
==========footer============= */

.footer {
  border-top: solid 1px;
  background: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 20px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;

}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: white;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: white;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.carousel {
  width: 75%;
}

.card-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: inherit;

}

@media only screen and (max-width: 1366px) {
  /* For mobile Tablet: */
  #carousel {
    width:70%;
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile Tablet: */
  #carousel {
    width:100%;
    margin-bottom:5px;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile Tablet: */
#review-card-layout{
  display: none;
}
}

@media only screen and (max-width: 350px) {
  /* For mobile Tablet: */
#uncontrolled-tab-example{
  display: none;
}
}